:root {
	--accent: #42b983;
}

body {
	font-family: sans-serif;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	background: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

a {
	color: var(--accent);
}

.slide {
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 600px;
	padding: 30px 50px;
	background: #222;
	color: #eee;
}

#first {
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 1.8em;
}
#first::before {
	content: '';
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('https://vuejs.org/images/logo.png');
	opacity: .2;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#evan {
	flex-direction: row;
	align-items: center;
}
#evan .content {
	display: flex;
}
#evan .text {
	margin-left: 20px;
	text-align: right;
}
#evan h2 {
	margin-top: 0;
}

#what-is-vue-1::before {
	content: '';
	background-repeat: no-repeat;
	background-position: 530px 220px;
	background-size: 300px;
	background-image: url('https://vuejs.org/images/logo.png');
	opacity: .4;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

#what-is-vue-2 .gallery {
	list-style: none;
	padding-left: 0;
	display: flex;
	align-items: center;
}
#what-is-vue-2 .gallery li {
	flex: 1;
	margin: 20px;
}
#what-is-vue-2 .gallery li:not(:first-child) {
	opacity: .5;
}
